/*Feito por: Gustavo Costa Arakaki - TP-P2-PSI - FATEC-RL*/
/*Feito por: Luca Pedro de Oliveira - TP-P2-PSI - FATEC-RL*/
* {
    margin: 0px;
    padding: 0px;
}

img{
	max-width: 100%;
	display: block;
}

/*Menu CSS*/
.logo {
    width: 80px;
    height: 75px;
}

header {
	width: 100%;
}

.all_logo {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu_itens:nth-child(2) {
	margin: 5px 10px 5px 10px;
	min-width: 75px;
}

.menu_itens ul {
	display: flex;
}

.menu_itens ul li {
	list-style: none;
	margin: 0px 5px 0px 5px;
}

.menu_itens ul li a {
	color: white;
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
}
/*Principal*/

#pega {
	margin: 20px;
}

#grid-principal {
	display: flex;
    margin: auto;
    max-width: 800px;
    justify-content: center;
}

.e {
	margin: 10px;
}

.e article {
	margin: 5px;
}

.e1 img {
	max-height: 600px;
	width: 100%;
}

.e1 p{
	text-decoration: none;
    color: white;
    font-family: helvetica;
}

.e2 {
	display: flex;
    flex-direction: column;
}

.e2 article {
    margin: 5px;
}

.e2 img {
	width: 100%;
}

.e2 p{
	text-decoration: none;
	color: white;
	font-family: helvetica; 
}

.clsP {
	background-color: rgba(0, 0, 0, 0.9);
    min-height: 45px;
    display: flex;
    align-items: center;
}

.clsP p {
	padding: 5px;
}

.clsP p a {
	text-decoration: none;
	color: white;
	font-family: helvetica;
}

.clsP p a:hover {
	text-decoration: underline;
}

/*Secundárias*/
#flex_secundaria {
	display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;	
}

.box_secundaria {
    display: flex;
    margin-top: 10px;
    max-width: 550px;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.img_secundaria {
    max-width: 250px;
}

.info_secundaria {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.texto_secundaria {
    flex: 1;
}

.texto_secundaria p {
	margin: 15px;
}

.cat_data {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.img_div_sec {
	width: 250px;
}

.data {
	display: flex;
    align-items: flex-end;
    margin: 15px;
}

.cat {
	display: flex;
    align-items: flex-end;
    margin: 15px;
}