/*Feito por: Gustavo Costa Arakaki - TP-P2-PSI - FATEC-RL*/
/*Feito por: Luca Pedro de Oliveira - TP-P2-PSI - FATEC-RL*/
* {
    margin: 0px;
    padding: 0px;
}

img{
	max-width: 100%;
	display: block;
}

/*Menu CSS*/
.logo {
    width: 80px;
    height: 75px;
}

header {
	width: 100%;
}

/*#nav_header {
	display: flex;
	align-items: center;
}*/

.all_logo {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu_itens:nth-child(2) {
	margin: 5px 10px 5px 10px;
	min-width: 75px;
}

.menu_itens ul {
	display: flex;
}

.menu_itens ul li {
	list-style: none;
	margin: 0px 5px 0px 5px;
}

.menu_itens ul li a {
	color: white;
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
}
/*Principal*/
#grid-principal{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}

#grid-principal > article:nth-child(1){
	grid-row: 1 / 3;
	align-self: start;
}
	
#grid-principal > article:nth-child(2){
	align-self:start;
}

#grid-principal > article{
	display: grid;
}

#grid-principal > article > img{
	grid-column: 1;
	grid-row: 1 / 3;
	align-self: end;
}

#grid-principal > article > p{
	background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}

/*Principal*/ 
/*#grid-principal { 
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}

.grid-style:nth-child(1) {
	grid-row: 1 / 3;
	align-self: start;
}

.grid-style:nth-child(2) {
	align-self:start;
}

.grid-style {
	display: grid;
}

.grid-style > img {
	grid-column: 1;
	grid-row: 1 / 3;
	align-self: end;
}

.grid-style p {
	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
	color: white;
	grid-column: 1;
	grid-row: 2;
	align-self: end;
}
*/
/*Secundárias*/
#flex_secundaria {
	display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;	
}

.box_secundaria {
    display: flex;
    margin-top: 10px;
    max-width: 550px;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.img_secundaria {
    max-width: 250px;
}

.info_secundaria {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.texto_secundaria {
    flex: 1;
}

.texto_secundaria p {
	margin: 15px;
}

.cat_data {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.img_div_sec {
	width: 250px;
}

.data {
	display: flex;
    align-items: flex-end;
    margin: 15px;
}

.cat {
	display: flex;
    align-items: flex-end;
    margin: 15px;
}